<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Feedback</title>
	<link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/feedback.css">

</head>
<body>
    <div class="page-container">
      <!-- Background Image -->
        <div class="bg">

		    <!-- Home Icon -->
		    <a href="home.html">
    			<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
		    </a>


		        <!-- Text -->
		        <div class="Text">
    		    	<h1 class="font-family: myFont;">
			        Tn fys`oska W;aiy lr we;
			        </h1>
                    <h1 class="font-family: myFont;">
                        Tfns ,lqK
                    </h1>
		        </div>

                <!-- Result -->
                <div class="Imgdiv">
                    
                </div>        

                <!-- Text -->
                <div class="Text2">           
                    <h1 class="font-family: myFont;">
                        ia;Q;shs
                    </h1>
                </div>

        </div>
    </div>
</body>
</html>
