<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
	<link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/feedback.css">

    <script>
        fetch('/questionfeedback').then(response => response.json()).then(data => {
            const feedbackResult = document.getElementById("feedbackResult");
			feedbackResult.innerHTML = data.anwsers;
            console.log(data);
        });
    </script>
</head>
<body>
    <div class="page-container">
      <!-- Background Image -->
        <div class="bg">

		    <!-- Home Icon -->
		    <a href="home.html">
    			<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
		    </a>

            <!-- Text -->
            <div class="Text">
                Tn fys`oska W;aiy lr we; Tfns ,lqK
                <h1 class="font-family: myFont;"></h1>
            </div>    

            <!-- Text -->
            <div class="Text2">           
                <div id="feedbackResult">
                    <table id="quizResults">
                        <tr>
                            <td>quiz 1</td>
                            <td>ia;Q;shs</td>
                        </tr>
                    </table>
                </div>
                <button class="tryQuiz" id="tryQ" onclick="tryQuiz()">
                    <div class="tryQuizText">w&myq W;ai&y lrkak</div>
                </button>
            </div>

        </div>
    </div>
</body>
</html>
