<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Letter Selection</title>
    <link rel="stylesheet" type="text/css" href="../static/css/learningselection.css">


  </head>
  <body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">
			
			<!-- Back Arrow -->
			<a href="/letters">
				<button>
				<div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
				</button>
			</a>


			<!-- Home Icon -->
			<a href="/home">
				<button>
				<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
				</button>
			</a>			

			<table class="center">
			<tr>
			<td><a href="{{ url_for('Letter1') }}"><h1 class="font-family: myFont;">w</h1></a></td>
			<td><h1 class="font-family: myFont;">wd</h1></td>
			<td><h1 class="font-family: myFont;">we</h1></td>
			<td><h1 class="font-family: myFont;">b</h1></td>
			<td><h1 class="font-family: myFont;">W</h1></td>
			<td><h1 class="font-family: myFont;">t</h1></td>
			<td><h1 class="font-family: myFont;">ta</h1></td>
			<td><h1 class="font-family: myFont;">la</h1></td>
			<td><h1 class="font-family: myFont;">.a</h1></td>
			</tr>
			<tr>
			<td><h1 class="font-family: myFont;">gs</h1></td>
			<td><h1 class="font-family: myFont;">oA</h1></td>
			<td><h1 class="font-family: myFont;">;a</h1></td>
			<td><h1 class="font-family: myFont;">vs</h1></td>
			<td><h1 class="font-family: myFont;">ka</h1></td>
			<td><h1 class="font-family: myFont;">ma</h1></td>
			<td><h1 class="font-family: myFont;">ns</h1></td>
			<td><h1 class="font-family: myFont;">us</h1></td>
			<td><h1 class="font-family: myFont;">ha</h1></td>
			</tr>
			<tr>
			<td><h1 class="font-family: myFont;">*</h1></td>
			<td><h1 class="font-family: myFont;">rA</h1></td>
			<td><h1 class="font-family: myFont;">,a</h1></td>
			<td><h1 class="font-family: myFont;">js</h1></td>
			<td><h1 class="font-family: myFont;">ia</h1></td>
			<td><h1 class="font-family: myFont;">ya</h1></td>
			<td><h1 class="font-family: myFont;">ps</h1></td>
			<td><h1 class="font-family: myFont;">!</h1></td>
			<td><h1 class="font-family: myFont;">x</h1></td>
			</tr>
			</table>	
		</div>
    </div>
  </body>
</html>
