<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Letter Selection</title>
    <link rel="stylesheet" type="text/css" href="../static/css/learningselection.css">


  </head>
  <body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">
			
			<!-- Back Arrow -->
			<a href="learning.html">
				<div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
			</a>


			<!-- Home Icon -->
			<a href="home.html">
				
				<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
			</a>
						

			<table class="center">
			<tr>
			<td><a href="letter1.html"><h1 class="font-family: myFont;">w</h1></a></td>
			<td><a href="letter2.html"><h1 class="font-family: myFont;">wd</h1></a></td>
			<td><a href="letter3.html"><h1 class="font-family: myFont;">we</h1></a></td>
			<td><a href="letter4.html"><h1 class="font-family: myFont;">b</h1></a></td>
			<td><a href="letter5.html"><h1 class="font-family: myFont;">W</h1></a></td>
			<td><a href="letter6.html"><h1 class="font-family: myFont;">t</h1></a></td>
			<td><a href="letter7.html"><h1 class="font-family: myFont;">ta</h1></a></td>
			<td><a href="letter8.html"><h1 class="font-family: myFont;">la</h1></a></td>
			<td><a href="letter9.html"><h1 class="font-family: myFont;">.a</h1></a></td>
			</tr>
			<tr>
			<td><a href="letter10.html"><h1 class="font-family: myFont;">gs</h1></a></td>
			<td><a href="letter11.html"><h1 class="font-family: myFont;">oA</h1></a></td>
			<td><a href="letter12.html"><h1 class="font-family: myFont;">;a</h1></a></td>
			<td><a href="letter13.html"><h1 class="font-family: myFont;">vs</h1></a></td>
			<td><a href="letter14.html"><h1 class="font-family: myFont;">ka</h1></a></td>
			<td><a href="letter15.html"><h1 class="font-family: myFont;">ma</h1></a></td>
			<td><a href="letter16.html"><h1 class="font-family: myFont;">ns</h1></a></td>
			<td><a href="letter17.html"><h1 class="font-family: myFont;">us</h1></a></td>
			<td><a href="letter18.html"><h1 class="font-family: myFont;">ha</h1></a></td>
			</tr>
			<tr>
			<td><a href="letter19.html"><h1 class="font-family: myFont;">*</h1></a></td>
			<td><a href="letter20.html"><h1 class="font-family: myFont;">rA</h1></a></td>
			<td><a href="letter21.html"><h1 class="font-family: myFont;">,a</h1></a></td>
			<td><a href="letter22.html"><h1 class="font-family: myFont;">js</h1></a></td>
			<td><a href="letter23.html"><h1 class="font-family: myFont;">ia</h1></a></td>
			<td><a href="letter24.html"><h1 class="font-family: myFont;">ya</h1></a></td>
			<td><a href="letter25.html"><h1 class="font-family: myFont;">ps</h1></a></td>
			<td><a href="letter26.html"><h1 class="font-family: myFont;">!</h1></a></td>
			<td><a href="letter27.html"><h1 class="font-family: myFont;">x</h1></a></td>
			</tr>
			</table>	
		</div>
    </div>
  </body>
</html>
