<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <title>Number Selection</title>
    <link rel="stylesheet" type="text/css" href="../static/css/learningselection2.css">


	</head>
	<body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">
			
			<!-- Back Arrow -->
			
				<div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
			

			<!-- Home Icon -->
			
				<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
			
			
			<table class="center">
			<tr>
			<td><h1 class="font-family: myFont;">0</h1></td>
			<td><a href="{{ url_for('Number1') }}"><h1 class="font-family: myFont;">1</h1></a></td>
			<td><h1 class="font-family: myFont;">2</h1></td>
			<td><h1 class="font-family: myFont;">3</h1></td>
			<td><h1 class="font-family: myFont;">4</h1></td>
			</tr>
			<tr>
			<td><h1 class="font-family: myFont;">5</h1></td>
			<td><h1 class="font-family: myFont;">6</h1></td>
			<td><h1 class="font-family: myFont;">7</h1></td>
			<td><h1 class="font-family: myFont;">8</h1></td>
			<td><h1 class="font-family: myFont;">9</h1></td>
			</tr>
			</table>
		</div>
	</div>
	</body>
</html>
