<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Number Selection</title>
	<link rel="stylesheet" type="text/css" href="../static/css/learningselection2.css">
</head>
<body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">
			
			<!-- Back Arrow -->
			<a href="{{ url_for('learning') }}">
				<div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
			</a>
		
			<!-- Home Icon -->
			<a href="{{ url_for('home') }}">
				<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
			</a>
			
			<table class="center">
				<tr>
					<td><a href="{{ url_for('number0') }}"><h1 class="font-family: myFont;">0</h1></a></td>
					<td><a href="{{ url_for('number1') }}"><h1 class="font-family: myFont;">1</h1></a></td>
					<td><a href="{{ url_for('number2') }}"><h1 class="font-family: myFont;">2</h1></a></td>
					<td><a href="{{ url_for('number3') }}"><h1 class="font-family: myFont;">3</h1></a></td>
					<td><a href="{{ url_for('number4') }}"><h1 class="font-family: myFont;">4</h1></a></td>
				
				</tr>
				<tr>
					<td><a href="{{ url_for('number5') }}"><h1 class="font-family: myFont;">5</h1></a></td>
					<td><a href="{{ url_for('number6') }}"><h1 class="font-family: myFont;">6</h1></a></td>
					<td><a href="{{ url_for('number7') }}"><h1 class="font-family: myFont;">7</h1></a></td>
					<td><a href="{{ url_for('number8') }}"><h1 class="font-family: myFont;">8</h1></a></td>
					<td><a href="{{ url_for('number9') }}"><h1 class="font-family: myFont;">9</h1></a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>