<!DOCTYPE html>
<html lang="en">
<head>
<title>Letter 1 Page</title>
<link rel="stylesheet" type="text/css" href="Letter.css">
</head>
<body>
<table>
	<tr>
		<th class="backicon"><img src="back.png" width="80"></th>
		<th></th>
		<th class="homeicon"><img src="homeicon.png" width="80"></th>
	</tr>
	<tr>
		<th rowspan="7" class="letter1"><img src="1.jpg" width="520"></th>
		<th></th>
		<th rowspan="7" class="model"><img src="1.jpg" width="520"></th>
	</tr>
	<tr>
		<th></th>
	</tr>
	<tr>
		<th></th>
	</tr>
	<tr>
		<th class="lettername">w</th>
	</tr>
	<tr>
		<th></th>
	</tr>
	<tr>
		<th></th>
	</tr>
	<tr>
		<th></th>
	</tr>
</html>