<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Letter1</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Letter.css">

	<script>
		function startCamera() {
		// Hide the button
		document.getElementById("start-camera").style.display = "none";
		
		// Display the countdown
		var countdown = 3;
		var countdownInterval = setInterval(function() {
			document.getElementById("countdown").innerHTML = countdown;
			countdown--;
			if (countdown < 0) {
			clearInterval(countdownInterval);
			document.getElementById("countdown").style.display = "none";
			document.getElementById("video").style.display = "block";
			}
		}, 1000);
		
		// Start the camera
		navigator.mediaDevices.getUserMedia({ video: true })
			.then(function(stream) {
			var video = document.getElementById("video");
			video.srcObject = stream;
			video.play();
			})
			.catch(function(error) {
			console.log(error);
			});
		}
	</script>

  </head>
  <body>
    <div class="page-container">
      <!-- Background Image -->
      <div class="bg">

      <!-- Text -->
      <div class="Text">
        <h1 class="font-family: myFont;">
          w
        </h1>
      </div>

		<!-- Camera 
		<div class="Camera">
			<script src="../static/js/HandTracking.js"></script>
			<div class="blurback"></div>
			<div class="countdown">
			<div class="countdown-text"></div>
			</div>
			<div class="button">
			<button class="button-text" onclick="setShowBlur(false)">Click to Try</button>
			</div>
		</div> -->

		<!-- Camera -->
		<div class="Camera">
			<script src="../static/js/HandTracking.js"></script>
			<button class="button-text" id="start-camera" onclick="startCamera()">Start Camera</button>
			<div id="countdown"class="countdown-text"></div>
			<video class="video" id="video" style="display:none;"></video>
		</div>

		<!-- Image -->
		<div class="Imgdiv">
			<img src="../static/assets/dataset_icons/letters/1.JPG" alt="Letter1" class="image">
		</div>

		<!-- Back Arrow -->
		<a href="/letters">
			<button>
			<div class="absolute w-12 h-12 left-0 top-0 bg-no-repeat bg-cover bg-center" style="background-image: url(../static/assets/back.png); width: 5.5%; height: 10%;"></div>
			</button>
		</a>

		<!-- Home Icon -->
		<a href="/home">
			<button>
			<div class="absolute w-12 h-12 right-0 top-0 bg-no-repeat bg-cover bg-center" style="background-image: url(../static/assets/homeicon.png); width: 5.5%; height: 10%;"></div>
			</button>
		</a>

		<!-- Next -->
		<a href="/letter2">
			<button>
			<div class="absolute w-12 h-12 bg-no-repeat bg-cover bg-center" style="background-image: url(../static/assets/next.png); width: 5.5%; height: 10%; right: 20px; top: 50%; transform: translateY(-50%);"></div>
			</button>
		</a>
		</div>
    </div>
  </body>
</html>
