<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Letter1</title>
	<link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/Letter.css">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.3/control_utils_3d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.3/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands@0.4/hands.js" crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script type="module" src="../static/js/showHands.js"></script>
	<script type="module" src="../static/js/videoOnCanvas.js"></script>
	<script type="module" src="../static/js/takeScreenshots.js"></script>

	<script>
		function startCamera() {
		  	// Hide the button
		  	document.getElementById("start-camera").style.display = "none";
	  
		  	// Display the countdown
			var countdown = 3;
			var countdownInterval = setInterval(function() {
				document.getElementById("count-down").innerHTML = countdown;
				countdown--;
				if (countdown < 0) {
					clearInterval(countdownInterval);
					document.getElementById("count-down").style.display = "none";
					document.getElementById("count-blur").style.display = "none";
					document.getElementById("showHands").style.display = "inline";
			
  					// Start a timer for 5 seconds
					var totalSeconds = 5;
					var secondsRemaining = totalSeconds;
					var countDownInterval = setInterval(function() {
						document.getElementById("dataCollection").innerHTML = secondsRemaining;
						secondsRemaining--;
						if (secondsRemaining < 0) {
							clearInterval(countDownInterval);
						}
					}, 1000);

					// Take 5 screenshots per second for 5 seconds
					var screenshots = [];
					var screenshotCounter = 0;
					var screenshotInterval = setInterval(function() {
						html2canvas(document.querySelector(".screenshotCanvas")).then(function(canvas) {
							// Get the context of the canvas
							var ctx = canvas.getContext('2d');
							// Calculate the aspect ratio of the canvas
							var aspectRatio = canvas.width / canvas.height;
							// Calculate the new dimensions for cropping
							var newWidth, newHeight, offsetX, offsetY;
							if (aspectRatio > 1) {
								// Landscape
								newHeight = canvas.height;
								newWidth = canvas.height;
								offsetX = (canvas.width - newWidth) / 2;
								offsetY = 0;
							} else {
								// Portrait or square
								newWidth = canvas.width;
								newHeight = canvas.width;
								offsetX = 0;
								offsetY = (canvas.height - newHeight) / 2;
							}
							// Create a new canvas with the cropped dimensions
							var croppedCanvas = document.createElement('canvas');
							croppedCanvas.width = newWidth;
							croppedCanvas.height = newHeight;
							// Get the context of the new canvas
							var croppedCtx = croppedCanvas.getContext('2d');
							// Draw the cropped image onto the new canvas
							croppedCtx.drawImage(canvas, offsetX, offsetY, newWidth, newHeight, 0, 0, newWidth, newHeight);
							// Add the cropped image to the screenshots array if it hasn't reached the limit
							if (screenshots.length < 20) {
								screenshots.push(croppedCanvas.toDataURL());
							}
							screenshotCounter++;
							document.querySelector(".counter").innerHTML = screenshotCounter;
						});
					}, 200); // take 5 screenshots per second (1000ms/5 = 200ms)

					setTimeout(function() {
						clearInterval(screenshotInterval);
						// Send the screenshots to Flask app.py using fetch
						fetch('/save_screenshots', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								screenshots: screenshots
							})
						}).then(function(response) {
							// Send a GET request to /process_screenshots route
							fetch('/process_screenshots').then(response => response.json()).then(data => {
								console.log(data.message)// response data
								// Send a GET request to /predict route
								fetch('/predict').then(response => response.json()).then(data => {
									const resultDiv = document.getElementById("results");
									resultDiv.innerHTML = data.result_str;
									document.getElementById("result-div").style.display = "inline";
								});
							})
							.catch(error => console.error(error));
						});
					}, 5000); // take screenshots for 5 seconds
				}
			}, 1000);
		}
	</script>
  </head>
  <body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">

			<!-- Text -->
			<div class="Text">
				<h1 class="font-family: myFont;">
				w
				</h1>
			</div>

			<!-- Image -->
			<div class="Imgdiv">
				<img src="../static/assets/dataset_icons/letters/1.JPG" alt="Letter1" class="image">
			</div>

			<!-- Camera -->
			<div class="Camera">
				<button class="camButton" id="start-camera" onclick="startCamera()">
					<div class="camButtonText">
						Show Handsign to camera
					</div>
				</button>
				<div class="countdown" id="count-blur">
					<div class="countdown-text" id="count-down"></div>
				</div>
				<div class="container" id="showHands" style= "display: none;">
					<div class="dataCollection" id="dataCollection"></div>
					<div class="counter">0</div>
					<video class="input_video" id="liveVideo" style="display: none;" muted></video>
					<canvas class="screenshotCanvas" id="screenshotCanvas" ></canvas>
					<canvas class="output_canvas" width="100%" height="100%"></canvas>
					<div class="control-panel" style="display: none;"></div>
					<div id="result-div" style="display: none;">
						<div id="results"></div>
					</div>
				</div>
			</div>

			<!-- Back Arrow -->
			<a href="{{ url_for('learningselection1') }}">
				<div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
			</a>

			<!-- Home Icon -->
			<a href="{{ url_for('home') }}">
				<div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
			</a>
				
			<!-- Next -->
			<a href="{{ url_for('letter2') }}">
				<div class="button4" style="background-image: url(../static/assets/next.png);"></div>
			</a>

		</div>
    </div>
  </body>
</html>