<!DOCTYPE html>
<html>
<head>
  <title>Questionnaire</title>
  <link rel="stylesheet" href="../static/css/predresult.css">
</head>
<body>
  <div id="questionnaire" class="bg">
  
    <div class="container">
      <div class="question-box">
        <div id="result">
          
          <p id="result"></p>
          <p id="feedback"></p>
          
          <div>
            <a href="{{url_for('home')}}">
              <button id="done" style="font-family: myFont">yrs</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/prediction.js"></script>
  <script>
    window.onload=function(){
      renderResult();
    }
  </script>  
</body>

</html>
