<!DOCTYPE html>
<html>
<head>
  <title>Quiz Page 1</title>
  <link rel="stylesheet" type="text/css" href="../static/css/question.css">
</head>
<body>
  <div class="container">
    <div class="header">
        
        <h1 style="font-family: myFont;">w <br/>fmkajkak</h1>
        <div class="next-button-container">
            <a href="{{ url_for('question2') }}" class="next-button"><img src="../static/assets/next.png" alt="Next"></a>
          </div>
        
      </div>
  </div>

  <script src="../static/js/quiz.js"></script>
  <script src="../static/js/HandTracking.js"></script>
</body>
</html>
