<!DOCTYPE html>
<html>
<head>
  <title>Quiz Page 5</title>
  <link rel="stylesheet" type="text/css" href="../static/css/question.css">
</head>
<body>
  <div class="container">
    <div class="header">
        
        <h1 style="font-family: myFont;">ka <br/>fmkajkak</h1>
        <div class="next-button-container">
            <a href="{{ url_for('question1') }}" class="next-button"><img src="../static/assets/next.png" alt="Next"></a>
          </div>
        
      </div>
  </div>

  <script src="{{ url_for('static', filename='js/question.js') }}"></script>
  <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
</body>
</html>
