<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/quiz.css">

  </head>
  <body>
    <div class="page-container">
		<!-- Background Image -->
      	<div class="bg">


           <!-- Alphabet Box -->
           <div class="alphabet-box">
            <a href="{{ url_for('question1') }}">
              <h1 style="font-family: myFont;">
                isxy,<br/>fydAvsh
              </h1>
            </a>
        </div>
            
        
            <!--  Number Box  -->
            <div class = "number-box">
              <a href="{{ url_for('question6') }}">
                <h1 class="font-family: myFont;">
                  wxl
              </h1>
              </a>
            </div>
                
			<!-- Back Arrow -->
      <a href="{{ url_for('home') }}">
        <div class="button2" style="background-image: url(../static/assets/backarrow.png);"></div>
      </a>

      <!-- Home Icon -->
      <a href="{{ url_for('home') }}">
        <div class="button3" style="background-image: url(../static/assets/homeicon.png);"></div>
      </a>
			
		
		</div>
    </div>
  </body>
</html>


