@font-face {
    font-family: "myFont";
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype');
}

body { 
    background-image: url('../assets/learning.svg');
    overflow: hidden;
}

.page-container {
    position: relative;
    margin: -0.5%;
    height: 100vh;
    font-family: 'myFont';
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype'); 
}

.bg {
    background-image: url('../assets/learning.svg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.TextImage {
    position: absolute;
    height: 80%;
    width: 40%;
    left: 9%;
    top: 10%;
}

.Text {
    position: absolute;
    height: 23%;
    width: 23%;
    left: 37.5%;
    top: 0%;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: rgba(231, 192, 69, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text h1 {
    font-family: "myFont", sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    transform: translate(0%, -12.5%);
}

.Imgdiv {
    position: absolute;
    height: 76.5%;
    width: 100%;
    left: -0.2%;
    top: 23.5%;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 1.5%);
}
  
.Imgdiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Camera {
    position: absolute;
    height: 71%;
    width: 40%;
    right: 9%;
    top: 20%;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: rgba(199, 186, 125, 0.75);
}

.camButton {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #000000;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    z-index: 4;
}

.camButtonText {
    font-family: "myFont", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
    text-align: center;
    transform: translate(0%, 0%);
}

#showHands {
    top: 0;
    left: 0;
    width: 100%;
} 

#info-div {
    position: absolute;
    width: 93%;
    height: 8%;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(199, 186, 125, 0.5);
    transform: translate(-0.2%, 0%);
    z-index: 3;
}

#info-text {
    font-family: "myFont", sans-serif;
    font-family: myFont;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #ffffff;
    transform: translate(0%, 50%);
}

.input_video {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.screenshotCanvas{
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 54.2%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

.output_canvas {
    position: absolute;
    width: 100%;
    top: 54.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.takeScreenshot {
    position: absolute;
    width: 7%;
    height: 8.5%;
    left: 93%;
    border-left: 2px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 2px solid #000000;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
}

.takeScreenshotText {
    font-family: "myFont", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #000000;
    transform: translate(0%, 0%);
}

.countdown{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(199, 186, 125, 0.97);
    z-index: 8;
}

.countdown-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #000000;
    transform: translate(-50%, -60%);
}

#result-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(199, 186, 125, 1);
    z-index: 7;
}

#results {
    top: 10%;
    height: 70%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.button1 {
	width: 100px; 
	height: 100px; 
	position: absolute; 
	top: 47%; 
    left: 3%;
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}

.button2 {
	width: 80px; 
	height: 80px; 
	position: absolute; 
	left: 0.2%; 
	top: 0%;
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}

.button3 {
	width: 80px; 
	height: 80px; 
	position: absolute; 
	top: 0%; 
    right: 0.2%; 
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}

.button4 {
	width: 100px; 
	height: 100px; 
	position: absolute; 
	top: 47%; 
    right: 3%;
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}