body { 
    background-image: url('../assets/learning.jpg');
    overflow: hidden;
}

@font-face {
    font-family: "myFont";
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype');
}

.page-container {
    position: relative;
    margin: -0.5%;
    height: 100vh;
    font-family: 'myFont';
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype'); 
}

.bg {
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.Text {
    position: absolute;
    height: 25%;
    width: 14%;
    left: 28%;
    top: 23%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: rgba(231, 192, 69, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text h1 {
    font-family: "myFont", sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    transform: translate(0%, -10%);
  
}

.Camera {
    position: relative;
    height: 70%;
    width: 40%;
    left: 67%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    background-color: rgba(199, 186, 125, 0.75);
   
}

.input_video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.output_canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dataCollection {
    position: absolute;
    left: 90%;
    width: 10%;
    height: 12%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #000000;
    z-index: 3;
}

.Imgdiv {
    position: absolute;
    height: 50%;
    width: 30%;
    left: 28%;
    top: 65.4%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Imgdiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.camButton {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #00000000;
    text-shadow: 0 0 5px #000000;
    backdrop-filter: blur(10px);
}

.blurback {
    position: absolute;
    display: flex;
    border: 1px solid #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.countdown-text{
    font-size: 150px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown{
    position: absolute;
    display: flex;
    border: 1px solid #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}


.button2 {
	width: 80px; 
	height: 80px; 
	position: absolute; 
	left: 0.2%; 
	top: 0%;
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}

.button3 {
	width: 80px; 
	height: 80px; 
	position: absolute; 
	top: 0%; 
	left: 94%; 
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}

.button4 {
	width: 80px; 
	height: 80px; 
	position: absolute; 
	top: 47%; 
	left: 94%; 
	border: none; 
	background-color: transparent; 
	cursor: pointer; 
	outline: none; 
	background-size: 100% 100%
}