@font-face {
    font-family: "myFont";
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype');
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    .bg {
      background-image: url('../assets/rainbow.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100vh;
    }