body {
  background-image: url('../assets/quiz.jpg');
  background-size: cover;

}

@font-face {
  font-family: "myFont";
  src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype');
}

h1 {
  font-family: "myFont", sans-serif;
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  padding-top: 8%;
  margin-right: 55%;
  letter-spacing: 2px;
}


.next-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.next-button img {
  width: 20%; 
  height: 20%; 
  margin-left: 170%;
  margin-top: 65%;
}

#camera {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}




