.box {
    box-sizing: border-box;
    position: absolute;
    width: 7%;
    height: 16%;
    background-color: rgba(231, 192, 69, 0.75);
    border: 2px solid #000000;
  }

 .box:hover {
    background-color: rgba(231, 192, 69, 0.9);
    transition: background-color 0.5s ease-in-out;
  }
  