.alphabet-box {
    box-sizing: border-box;
    position: absolute;
    width: 25%;
    height: 45%;
    left: 28%;
    top: 49%;
    transform: translate(-50%, -50%);
    background: rgba(231, 192, 69, 0.75);
    border: 2px solid #000000;
    border-radius: 30px;
  }
  
  .number-box {
    position: absolute;
    width: 25%;
    height: 45%;
    right: 19%;
    top: 25.5%;
    background: rgba(231, 192, 69, 0.75);
    border: 2px solid #000000;
    border-radius: 30px;
  }

  .alphabet-box:hover, .number-box:hover {
    background-color: rgba(231, 192, 69, 0.9);
    transition: background-color 0.5s ease-in-out;
  }
  
  
  
  
  
  