.alphabet-box {
    box-sizing: border-box;
    position: absolute;
    width: 25%;
    height: 45%;
    left: 28%;
    top: 49%;
    transform: translate(-50%, -50%);
    background: rgba(231, 192, 69, 0.75);
    border: 1px solid #000000;
    border-radius: 30px;
  }
  
  .number-box {
    box-sizing: border-box;
    position: absolute;
    width: 25%;
    height: 45%;
    right: 19%;
    top: 25.5%;
    background: rgba(231, 192, 69, 0.75);
    border: 1px solid #000000;
    border-radius: 30px;
  }
  
  
  
  
  