.page-container {
  position: relative;
  height: 100vh;
}

.box1 {
  position: absolute;
  height: 25%;
  width: 14%;
  left: 28%;
  top: 23%;
  transform: translate(-50%, -50%);
  border: 2px solid #000000;
  border-radius: 0px;
  background-color: rgba(231, 192, 69, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 h1 {
  margin: 0 auto;
}

.box2 {
  position: relative;
  height: 65.5%;
  width: 40%;
  left: 67%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}

.box3 {
  position: absolute;
  height: 50%;
  width: 30%;
  left: 28%;
  top: 65.4%;
  transform: translate(-50%, -50%);
  border: 2px solid #000000;
  border-radius: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.button-text {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px #000000;
}


.blurback {
  position: absolute;
  display: flex;
  border: 1px solid #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.countdown-text{
  font-size: 150px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown{
  position: absolute;
  display: flex;
  border: 1px solid #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}