.page-container {
    position: relative;
    height: 100vh;
  }

  .box1 {
    position: absolute;
    height: 50%;
    width: 30%;
    left: 28%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    background-color: white;
  }

  .box2{
    position: absolute;
    margin-top: auto;
    margin-right :8%;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    z-index: 9;
    transform: translateY(-50%);
    width: 40%;
    height:480;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  