body{
    background-image: url(../assets/Splashbg.jpg);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'Sinhala';
    src: url('../assets/2\ Astro11\ sinhala\ font\ by\ Aluth.com.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  